@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;600;700&display=swap');

* {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Muli', sans-serif;
  color: white;
}

h1 {
  font-size: 3.4em;
}

.row {
  width: 100%;
  display: flex;
}

.col {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
}